<a href="https://colab.research.google.com/github/DeVcB13d/Python-Lab/blob/main/Iterative_Looping_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iterative / Looping Problems

1. Program to find the reverse of a given number.

In [ ]:
n = int(input("Enter a number :"))
N = n
rev = 0 ;
while N>0:
  rem = N%10
  N = N//10
  rev = rev*10 + rem

print(n," reversed = ",rev)

Enter a number :23451
23451  reversed =  15432

2. Program to find the sum of the first N natural numbers

In [ ]:
N = int(input("Enter N :"))
sum = 0 
for i in range(1,N+1):
  sum+=i
print("N =",N,"\nsum = ",sum )

Enter N :12
N = 12
sum =  78

3. Program to print the sum of the factors of a number

In [ ]:
N = int(input("Enter a number :"))
sf = 1 + N
for i in range(2,(N//2)+1):
  if N%i==0:
    sf+=i
print(sf)

Enter a number :4
7

4. Program to print the N terms of an  arithmetic sequence

In [ ]:
a = int(input("Enter the first term: "))
d = int(input("Entet the common difference: "))
N = int(input("Enter total terms to print"))
for i in range(1,N):
  print(a+(i-1)*d ,end = ",")

Enter the first term: 3
Entet the common difference: 4
Enter total terms to print12
3,7,11,15,19,23,27,31,35,39,43,

5. Program to print the n terms of the Fibonacci series

In [ ]:
a = 0 
b = 1
N = int(input("Enter the number of terms: "))
for i in range(1,N+1):
   print(a,end = " ")
   t = a 
   a = a+b
   b = t

Enter the number of terms: 12
0 1 1 2 3 5 8 13 21 34 55 89

6. Program to check whether a number is palindrome or not

In [ ]:
n = int(input("Enter a number :"))
N = n
rev = 0 ;
while N>0:
  rem = N%10
  N = N//10
  rev = rev*10 + rem

if rev == n :
  print(n," palindrome")
else:
  print(n,"is not a palindrome")

Enter a number :123
123 is not a palindrome

7. Program to check whether a number is Armstrong or not

In [ ]:
n = int(input("Enter a number :"))
N = n
arms = 0 ;
while N>0:
  rem = N%10
  N = N//10
  arms = arms + rem**3
if n == arms:
  print(n," is armstrong")
else:
  print(n,"is not armstrong")

Enter a number :234
234 is not armstrong

8. Program to evaluate x^n

In [ ]:
x = int(input("Enter x : "))
n = int(input("Enter n : "))
p = 1 
for i in range(0,n):
  p*=x
print(p)

Enter x : 2
Enter n : 3
8

9. Program to print first n odd number

In [ ]:
N = int(input("Enter the number of terms: "))
for i in range(1,2*N,2):
  print(i,end = " ")

Enter the number of terms: 10
1 3 5 7 9 11 13 15 17 19

10. Program to print GCD of 2 numbers

In [ ]:
x = int(input("Enter number 1: "))
y = int(input("Enter number 2: "))
if x<y:
  A = x 
  B = y
else:
  A = y
  B = x
while A > 0:
  t = A 
  A = A%B
  B = t
  
print('GCD =',B)

11. Program  to print factorial of a given number

In [ ]:
fact = 1 
n = int(input("Enter a number: "))
for i in range(1,n+1):
  fact=fact*i
print(n,"!=",fact)

Enter a number: 5
5 != 120

12. Program to find sum squares of natural numbers between two numbers.

In [ ]:
A = int(input("Enter lower limit: "))
B = int(input("Enter upper limit: "))
sum = 0
for i in range(A,B+1):
  sum+=i*i
print(sum)

Enter lower limit: 3
Enter upper limit: 5
50

13. Program to find the sum of the given series, up to n terms.  S = 1 - 4 + 9 - 16 + ....

In [ ]:
N = int(input("Enter the number of terms: "))
sum = 0
for i in range(1,N+1):
  if i%2 == 0:
    sum-=i*i
  else:
    sum+=i*i
print(sum)

Enter the number of terms: 4
-10

14. Program to check whether a given number is Automorphic or not

In [ ]:
#625/25
n = int(input("Enter a number"))
tn = n
ns = n**2
nts = ns
isauto = False
while tn>0:
  if (nts%10 == tn%10):
    isauto =True
  else:
    isauto = False
  nts=nts//10
  tn = tn//10

print(isauto)

Enter a number4
16   16
False

15. Program to read a binary number and print its decimal equivalent.

In [ ]:
bin = int(input("Enter a binary number: "))
bt = bin
pow = 0
dec = 0
while bt > 0:
  rem = bt%10
  dec = dec + (2**pow)*rem
  bt = bt//10
  pow = pow + 1
print(bin, " = ", dec)

Enter a binary number: 10011011
10011011  =  155