Suppose a newly born pair of rabbits, one male and one female, are
put in a field. Rabbits can mate at the age of one month so that at the end of its second month, a female has produced another pair of
rabbits. Suppose that our rabbits never die and that the female always produces one new pair every month from the second month. Develop a program to show a table containing the number of pairs of
rabbits in the first N months

In [ ]:
def fib(N):
  Flist = [0,1]
  a = 1
  b = 1
  for i in range(1, N+1):
    t = a 
    b = a + b
    a = b
    b = t
    Flist.append(a)
  return Flist

f = fib(20)
print(f)

[0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711]

In [ ]:
def make_table(N):
  l1 = fib(N)
  print("Month\tPairs")
  for i in range(1,N+1):
    print(i,"\t",l1[i])
make_table(5)

Month	Pairs
1 	 1
2 	 2
3 	 3
4 	 5
5 	 8